@{
     ViewBag.Title = "Home Page in views/home folder";
}

    <title>@ViewBag.Title</title>
    <div class="jumbotron">
        <h1>Account Manager</h1>
            <p class="lead">Add or edit addresses here.</p>
            @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Update Payment Methods (coming soon!)</h2>
            <p>
                Soon you will be able to manage all your payment methods in one central location.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Start A Return (coming soon!)</h2>
            <p>You will be able to start returns, check return status, and print return labels here.</p>
        </div>
        <div class="col-md-4">
            <h2>Register for specials and discounts (coming soon!)</h2>
            <p>You will be able to sign up for exciting specials and discounts here.</p>
        </div>
    </div>

