@{
     ViewBag.Title = "Home Page in views/home folder";
}

    <title>@ViewBag.Title</title>
    <div class="jumbotron">
        <h1>Customer Portal</h1>
            <p class="lead">Manage your customer account here.</p>
            @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-3">
            <h4>Update Payment Methods (coming soon!)</h4>
            <p>
                Soon you will be able to manage all your payment methods in one central location.
            </p>
        </div>
        <div class="col-md-3">
            <h4>Start A Return (coming soon!)</h4>
            <p>You will be able to start returns, check return status, and print return labels here.</p>
        </div>
        <div class="col-md-3">
            <h4>Register for discounts (coming soon!)</h4>
            <p>You will be able to sign up for exciting specials and discounts here.</p>
        </div>
    </div>

