<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/77dc8a96-139b-4d8d-982e-f72d9f31c692/resourcegroups/WebApplication320200426151707ResourceGroup/providers/Microsoft.Web/sites/AutocompletePlacesDemo20200511151301</ResourceId>
    <ResourceGroup>WebApplication320200426151707ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://autocompleteplacesdemo20200511151301.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>autocompleteplacesdemo20200511151301.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AutocompletePlacesDemo20200511151301</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AutocompletePlacesDemo20200511151301</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AutocompletePlacesDemoContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:webapplication320200426151707dbserver.database.windows.net,1433;Initial Catalog=AutocompletePlacesDemo_db;User ID=tinaleap@webapplication320200426151707dbserver;Password=Drl54609" Name="Data Source=tcp:webapplication320200426151707dbserver.database.windows.net,1433;Initial Catalog=AutocompletePlacesDemo_db;User Id=tinaleap@webapplication320200426151707dbserver;Password=Drl54609" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AutocompletePlacesDemo.Data.AutocompletePlacesDemoContext, AutocompletePlacesDemo" MigrationConfiguration="AutocompletePlacesDemo.Migrations.Configuration, AutocompletePlacesDemo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AutocompletePlacesDemoContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:webapplication320200426151707dbserver.database.windows.net,1433;Initial Catalog=AutocompletePlacesDemo_db;User Id=tinaleap@webapplication320200426151707dbserver;Password=Drl54609</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>